02_RAG_ShortTerm_QA_to_Pinecone_v1_Prod.json
{
  "name": "02_RAG_ShortTerm_QA_to_Pinecone_v1_Prod",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        48
      ],
      "id": "a5ab9569-11c5-47c9-a36b-9917db423c1d",
      "name": "00_Manual_Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2b744c7c-1441-809d-bfa8-efee4d6385f3",
          "mode": "list",
          "cachedResultName": "ShortTermPrograms_QA",
          "cachedResultUrl": "https://www.notion.so/2b744c7c1441809dbfa8efee4d6385f3"
        },
        "returnAll": true,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Status|select",
              "condition": "equals",
              "selectValue": "Verified"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "key": "UpdatedAt|date",
                "direction": "descending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        96,
        -32
      ],
      "id": "dbed9326-9b72-4eb3-9ca1-6115ecd96b34",
      "name": "01_Get_ManualDB_Records",
      "credentials": {
        "notionApi": {
          "id": "hO7wX2VZGdxW0xVB",
          "name": "Notion_Manual_Importer"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "/**\n * 02_Format_ForEmbedding for ShortTermPrograms_QA\n * Mode: Run Once for Each Item\n *\n * 01_Get_ManualDB_Records の出力\n *  - id\n *  - name\n *  - url\n *  - property_answer\n *  - property_program\n *  - property_category\n *  - property_keyword\n *  - property_updated_at\n *  - property_source_url\n *  - property_source_file\n * を前提に、Embedding & Pinecone 用のJSONに整形する。\n */\n\nconsole.log(\"=\".repeat(60));\nconsole.log(\"【02_Format_ForEmbedding 実行開始】\");\nconsole.log(\"Input keys:\", Object.keys($json));\n\n/**\n * ヘルパー：配列 or オブジェクト or 文字列を「配列<string>」にそろえる\n */\nfunction normalizeToStringArray(value) {\n  if (Array.isArray(value)) {\n    return value.map(v => String(v).trim()).filter(v => v);\n  }\n  if (value && typeof value === \"object\") {\n    return Object.values(value)\n      .map(v => String(v).trim())\n      .filter(v => v);\n  }\n  if (typeof value === \"string\") {\n    const t = value.trim();\n    return t ? [t] : [];\n  }\n  return [];\n}\n\n/**\n * 1. 各フィールドの取り出し\n */\n\n// Notion ページID\nconst pageId = ($json.id || \"\").trim();\n\n// Question（タイトル）: name を優先\nconst question =\n  (typeof $json.name === \"string\" && $json.name.trim()) ||\n  ($json.property_question || \"\").trim() ||\n  \"\";\n\n// Answer\nconst answer = ($json.property_answer || $json.Answer || \"\").toString().trim();\n\n// Program\nconst program = ($json.property_program || $json.Program || \"\").toString().trim();\n\n// Category（文字列 or 配列想定）\nlet category = \"\";\nif (Array.isArray($json.property_category)) {\n  category = $json.property_category.join(\", \");\n} else if (\n  $json.property_category &&\n  typeof $json.property_category === \"object\"\n) {\n  category = Object.values($json.property_category)\n    .map(v => String(v).trim())\n    .join(\", \");\n} else if (typeof $json.property_category === \"string\") {\n  category = $json.property_category.trim();\n}\n\n// Keyword（multi-select）\nconst keywords = normalizeToStringArray($json.property_keyword);\n\n// Status（あれば）\nconst status =\n  ($json.property_Status ||   // ← これを追加\n   $json.property_status ||\n   $json.Status ||\n   \"\"\n  ).toString().trim();\n\n\n// SourceURL（Notionの url もフォールバック）\nconst sourceURL =\n  ($json.property_source_url || \"\").toString().trim() ||\n  ($json.url || \"\").toString().trim();\n\n// UpdatedAt（日付文字列 → ISO化を試みる）\nlet updatedAtRaw =\n  ($json.property_updated_at || $json.UpdatedAt || \"\").toString().trim();\nlet updatedAt = \"\";\nif (updatedAtRaw) {\n  try {\n    updatedAt = new Date(updatedAtRaw).toISOString();\n  } catch (e) {\n    updatedAt = updatedAtRaw; // そのまま保持\n  }\n}\n\n// SourceFile\nconst sourceFile =\n  ($json.property_source_file || $json._source_file || \"\").toString().trim();\n\n// ログ出力\nconsole.log(\"pageId:\", pageId);\nconsole.log(\"question:\", question);\nconsole.log(\"answer(length):\", answer.length);\nconsole.log(\"program:\", program);\nconsole.log(\"category:\", category);\nconsole.log(\"keywords:\", keywords);\nconsole.log(\"status:\", status);\nconsole.log(\"sourceURL:\", sourceURL);\nconsole.log(\"updatedAt:\", updatedAt);\nconsole.log(\"sourceFile:\", sourceFile);\n\n/**\n * 2. 簡易バリデーション\n */\nconst errors = [];\nif (!pageId) errors.push(\"pageId が空です\");\nif (!question) errors.push(\"Question(タイトル) が空です\");\nif (!answer) errors.push(\"Answer が空です\");\n\nif (errors.length) {\n  console.log(\"❌ バリデーションエラー:\", errors.join(\" | \"));\n  throw new Error(errors.join(\" | \"));\n}\n\n/**\n * 3. Embedding 用テキストの生成\n *    形式: Q: ... / A: ...\n */\nlet textForEmbedding = `Q: ${question}\\nA: ${answer}`;\n\n// 長すぎる場合は 2000 文字でカット\nif (textForEmbedding.length > 2000) {\n  textForEmbedding = textForEmbedding.substring(0, 2000);\n}\n\nconsole.log(\"textForEmbedding preview:\");\nconsole.log(textForEmbedding.substring(0, 200));\nconsole.log(\"length:\", textForEmbedding.length);\n\n/**\n * 4. 返り値\n *    03_OpenAI_Embedding → 03a_Merge_ForUpsert → 04_Pinecone_Upsert_Code が\n *    期待しているフィールド名に合わせて返す\n */\nconst output = {\n  json: {\n    pageId,\n    pageTitle: question,   // 04_Pinecone_Upsert_Code が参照\n    question,\n    answer,\n    program,\n    category,\n    keywords,\n    status,\n    sourceURL,\n    updatedAt,\n    sourceFile,\n    textForEmbedding\n  }\n};\n\nconsole.log(\"✅ 02_Format_ForEmbedding 実行完了\");\nconsole.log(\"=\".repeat(60));\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -32
      ],
      "id": "000689bb-0985-492a-a4f5-73bfbb01b795",
      "name": "02_Format_ForEmbedding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "input",
              "value": "={{$json.textForEmbedding}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        -96
      ],
      "id": "f6f49f2f-8422-4cf2-a555-1d98a1ff7051",
      "name": "03_OpenAI_Embedding"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "28744c7c-1441-8032-9543-d0b776d76d65",
          "mode": "list",
          "cachedResultName": "RAG_Workflow_Log",
          "cachedResultUrl": "https://www.notion.so/28744c7c144180329543d0b776d76d65"
        },
        "title": "RAG Update Log",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "DateTime|date",
              "date": "={{ $now.toISO() }}"
            },
            {
              "key": "Workflow|rich_text",
              "textContent": "03_ManualDB_to_Pinecone_Upserter_v1"
            },
            {
              "key": "UpsertedCount|number",
              "numberValue": "={{ $json.upsertedCount || 1 }}"
            },
            {
              "key": "Status|select",
              "selectValue": "=Success"
            },
            {
              "key": "Note|rich_text",
              "textContent": "Pinecone Upsert executed from Manual Trigger."
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1408,
        -64
      ],
      "id": "7a5b7f64-3cdc-4aca-a160-0baafdf4567e",
      "name": "05_Log_ToNotion",
      "credentials": {
        "notionApi": {
          "id": "hO7wX2VZGdxW0xVB",
          "name": "Notion_Manual_Importer"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        160
      ],
      "id": "c37e1624-be16-4316-b343-ac748126a30e",
      "name": "03a_Merge_ForUpsert"
    },
    {
      "parameters": {
        "jsCode": "// 04_Pinecone_Upsert_Code（バッチ upsert 版）\n\n// すべての item を取得\nconst items = $input.all();\n\n// バッチサイズ（1回で送るベクトル数）\n// 50?100 くらいなら十分速くて安全\nconst BATCH_SIZE = 50;\n\n// Pinecone の設定（URL は今使っているものに合わせてください）\nconst PINECONE_URL = 'https://rsjp-rwjp-v2-s86bwtk.svc.aped-4627-b74a.pinecone.io/vectors/upsert';\n\n// ★ここは「今のコードの headers 部分」をそのまま貼り付けてください★\nconst HEADERS = {\n  'Api-Key': 'pcsk_2DYVK1_3uibMjeoRKcZCL3hra2hPNsmfxHj1BeU2P6b2PnEBAp6bvsex2a9zJPBZQPrh26',\n  'Content-Type': 'application/json'\n};\n\n// items → vectors への変換関数\nfunction buildVectors(fromItems) {\n  return fromItems.map(item => {\n    const j = item.json;\n\n    const pageId          = j.pageId;\n    const embedding       = j.data[0].embedding;\n    const pageTitle       = j.pageTitle || '';\n    const sourceURL       = j.sourceURL || '';\n    const updatedAt       = j.updatedAt || new Date().toISOString();\n    const textForEmbedding = j.textForEmbedding || '';\n    const program         = j.program || '';\n    const category        = j.category || '';\n    const keywords        = j.keywords || [];\n    const status          = j.status || '';\n    const sourceFile      = j.sourceFile || '';\n\n    return {\n      id: pageId,\n      values: embedding,\n      metadata: {\n        pageId,\n        pageTitle,\n        sourceURL,\n        updatedAt,\n        textForEmbedding,\n        program,\n        category,\n        keywords,\n        status,\n        sourceFile,\n      },\n    };\n  });\n}\n\nconst allResponses = [];\n\n// BATCH_SIZE ごとに分割して upsert\nfor (let i = 0; i < items.length; i += BATCH_SIZE) {\n  const batchItems = items.slice(i, i + BATCH_SIZE);\n  const vectors = buildVectors(batchItems);\n\n  const payload = {\n    vectors,\n    namespace: 'rsjp_rwjp_v2',   // ここは今まで通りの namespace\n  };\n\n  const res = await this.helpers.httpRequest.call(this, {\n    method: 'POST',\n    url: PINECONE_URL,\n    headers: HEADERS,\n    body: payload,\n    json: true,\n  });\n\n  allResponses.push(res);\n}\n\n// まとめて 1件だけ返す\nreturn [\n  {\n    json: {\n      success: true,\n      upsertedCount: items.length,\n      pineconeResponses: allResponses,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -64
      ],
      "id": "f8a6c951-4e5a-403b-be22-876b269e48e9",
      "name": "04_Pinecone_Upsert_Code"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2,
              "triggerAtMinute": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        -176
      ],
      "id": "f6307bb1-f838-403c-b5f4-306fa5018e43",
      "name": "00b_Cron_JST_Daily"
    },
    {
      "parameters": {
        "jsCode": "// 01b_Filter_DuplicateAnswers_ByLatest\n// 前ノード(01_Get_ManualDB_Records)で UpdatedAt を降順にソートしてある前提。\n// → 同じ Answer のレコードがあっても、一番最初に来るのが「最新」。\n\nconst items = $input.all();\n\nconst seenAnswers = new Set();\nconst filtered = [];\n\nfor (const item of items) {\n  const row = item.json;\n\n  // Answer プロパティを1つの文字列として取り出す\n  const answerProp = row.properties?.Answer?.rich_text || [];\n  const answerText = answerProp\n    .map(r => r.plain_text || '')\n    .join('\\n')\n    .trim();\n\n  // Answer が空ならそのまま通すか、スキップするかは好み\n  // ここでは「空の Answer はそのまま通す」にしておく\n  if (!answerText) {\n    filtered.push(item);\n    continue;\n  }\n\n  // すでに同じ Answer が出てきていればスキップ\n  if (seenAnswers.has(answerText)) {\n    continue;\n  }\n\n  // 初めての Answer なら採用\n  seenAnswers.add(answerText);\n  filtered.push(item);\n}\n\nreturn filtered;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -32
      ],
      "id": "ba71dec3-37b0-4298-887d-7bacd9800498",
      "name": "01b_Filter_DuplicateAnswers_ByLatest"
    }
  ],
  "pinData": {},
  "connections": {
    "00_Manual_Trigger": {
      "main": [
        [
          {
            "node": "01_Get_ManualDB_Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01_Get_ManualDB_Records": {
      "main": [
        [
          {
            "node": "01b_Filter_DuplicateAnswers_ByLatest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02_Format_ForEmbedding": {
      "main": [
        [
          {
            "node": "03_OpenAI_Embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "03a_Merge_ForUpsert",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "03_OpenAI_Embedding": {
      "main": [
        [
          {
            "node": "03a_Merge_ForUpsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03a_Merge_ForUpsert": {
      "main": [
        [
          {
            "node": "04_Pinecone_Upsert_Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04_Pinecone_Upsert_Code": {
      "main": [
        [
          {
            "node": "05_Log_ToNotion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "00b_Cron_JST_Daily": {
      "main": [
        [
          {
            "node": "01_Get_ManualDB_Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01b_Filter_DuplicateAnswers_ByLatest": {
      "main": [
        [
          {
            "node": "02_Format_ForEmbedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "48aff2c2-ab48-4670-9c86-d9561596a9a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "806c911d7dc71e902947ff71885a6f9edeccc98ca756aec6f50b2432bc9b35b1"
  },
  "id": "gNx7RFHJBpYRD2DZ",
  "tags": []
}