04_RAG_ManualKB_QA_Responder_v1 (4).json
{
  "name": "04_RAG_ManualKB_QA_Responder_v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5e04dcd7-438a-4566-a59a-fd4d1982b05b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        0
      ],
      "id": "a6eafa63-a95e-4ee4-99c0-f5550c58f72d",
      "name": "00_Webhook_ManualQA",
      "webhookId": "5e04dcd7-438a-4566-a59a-fd4d1982b05b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{$json.textForEmbedding}}"
            },
            {
              "name": "model",
              "value": "text-embedding-3-small"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        -32
      ],
      "id": "d85c8783-c79d-41ff-8868-f1564aa4d72b",
      "name": "01_OpenAI_Embedding_Query"
    },
    {
      "parameters": {
        "jsCode": "const question = $json.originalQuestion || \"\";\n\nreturn {\n  json: {\n    textForEmbedding: question,\n    originalQuestion: question\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        96
      ],
      "id": "a99a58ba-ae7d-41dc-800a-08a7dc4b4ecf",
      "name": "02_Format_Text_For_Embedding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://rsjp-rwjp-v2-s86bwtk.svc.aped-4627-b74a.pinecone.io/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "pcsk_2DYVK1_3uibMjeoRKcZCL3hra2hPNsmfxHj1BeU2P6b2PnEBAp6bvsex2a9zJPBZQPrh26"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    vector: $json.data[0].embedding,   // 01_OpenAI_Embedding_Query の出力\n    topK: 3,\n    includeValues: false,\n    includeMetadata: true,\n    namespace: \"rsjp_rwjp_v2\",        // Upserter と同じ namespace\n    filter: {\n      status: \"Verified\"              // metadata.status で絞り込み\n    }\n  })\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        0
      ],
      "id": "9250039f-56f7-473e-8b3a-09d844b3712f",
      "name": "03_Pinecone_Query"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer  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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4o-mini"
            },
            {
              "name": "messages[0].role",
              "value": "system"
            },
            {
              "name": "messages[0].content",
              "value": "あなたは立命館大学の短期留学プログラム（RSJP / RWJP / RWJP Express など）について回答するアシスタントです。\n\nこれから渡される「Context:」には、ナレッジベースから取得した関連情報だけが含まれています。\n\n必ず次のルールに従ってください：\n1. 回答は原則として **日本語** で行うこと。（質問が明確に英語で書かれている場合は、簡潔で平易な英語で回答してもよい。）\n2. 回答の中心となる事実や手続きは、必ず **Context 内の情報** に基づけること。Context に含まれる情報から論理的に導ける範囲での補足説明や一般的な背景説明は行ってよいが、具体的な日付・人数・金額・部署名などを新たに作り出さないこと。\n3. Context 内に、質問と全く関係しそうな情報が **ひとつも含まれていない場合のみ**、\n   「ナレッジベース内に、この質問に直接答えられる十分な情報が見つかりませんでした。」\n   という趣旨の一文を述べ、その旨を簡潔に説明すること。\n   それ以外の場合は、完全に一致する情報がなくても、Context に含まれる近い情報を組み合わせて、分かる範囲でできるだけ具体的に答えること。\n4. ユーザーの原文の意味を変えず、ナレッジベースの内容と明らかに矛盾する説明を行わないこと。\n\n追加のルールとして、次の点も守ってください。\n\n- 回答は敬体（です・ます調）で、大学業務にふさわしい落ち着いたトーンにしてください。友人に話すようなくだけた表現や、なれなれしい言い回し（〜だよ、〜しようね 等）は使わないでください。\n- あなたは短期留学生受入業務に精通した、経験豊かなプロとして、冷静かつスマートに説明してください。学生・教職員・協定校のいずれに対しても、公平で尊重ある態度を前提としてください。\n- 回答の構成は、できるだけ次の順番にしてください：\n  1. **質問への直接の答え**（結論を一文で）\n  2. **関連する背景情報や制度の概要**（必要なら、他の類似プログラムとの違いも短く触れる）\n  3. **実務的な次のステップ**（質問者がこれから何をすればよいか。連絡先・手続き・締切など、Context に書かれている範囲で）\n  4. **よくある誤解・リスク・トラブル例**（「【注意】」という見出しを付けて、安心・安全、公平性の観点から、起こりやすい間違いや注意点を2〜3行で示す）\n  5. **簡単なチェックリスト**（3〜7項目程度で、準備すべき書類・確認すべき条件などを箇条書き）\n- Context に複数の Q&A が含まれる場合は、質問に最も近いものを 1〜2 件選び、その内容を整理して答えてください。そのうえで、他の Q&A に含まれる関連情報があれば、必要に応じて「関連情報」として短く補足してください。\n- 安心・安全、公平性や学生の権利保護に関わる内容（例：体調不良時の対応、ハラスメント防止、差別的にならない運用など）については、Context に明確な記載がなくても、大学業務における一般的な考え方として短く補足して構いません。ただし、具体的な規程名や手順をでっち上げないでください。\n- 回答の冒頭または末尾に、質問者をねぎらったり軽く励ましたりする一文を添えてください。ただし大げさな感情表現は避け、簡潔な一言にとどめてください。\n- Context に書かれていない内容を、事実として断定する形で補わないでください。どうしても分からない部分は「このナレッジベースには記載がありません」「正確な条件は国際課・留学サポートデスクでの確認が必要です」などと、分からないことを率直に伝えてください。\n- 回答全体の長さは 800〜2000 文字程度を目安とし、読みやすさを優先してください。必要に応じて短い段落や箇条書きを使って構いません。\n"
            },
            {
              "name": "messages[1].content",
              "value": "=Question: {{ $('02_Format_Text_For_Embedding').item.json.originalQuestion }}\n\n\nContext:\n{{\n  ($json.matches || [])\n    .map((m, i) => {\n      const score = typeof m.score === 'number' ? m.score.toFixed(3) : '';\n      const text = (m.metadata && m.metadata.textForEmbedding) || '';\n      return `【候補${i + 1}】(score: ${score})\\n${text}`;\n    })\n    .join('\\n\\n')\n}}\n"
            },
            {
              "name": "messages[1].role",
              "value": "user"
            },
            {
              "name": "messages[1].content",
              "value": "=Question: {{ $('02_Format_Text_For_Embedding').item.json.originalQuestion }}\n\nContext:\n{{JSON.stringify($json.matches)}}\n"
            },
            {
              "name": "max_tokens",
              "value": "={{ 500 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        0
      ],
      "id": "fa6727cc-bee8-4a21-ac0a-e7541642edbd",
      "name": "04_OpenAI_Answer_Generator"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $json.choices[0].message.content }) }}\n\n\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1040,
        0
      ],
      "id": "4d0e0c45-fe0e-461f-ac39-793eeee6eacf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40222303-d996-42ba-84fc-6f3b5aa418ae",
              "name": "originalQuestion",
              "value": "={{ $json.body.question }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        80
      ],
      "id": "7270b7b8-7378-4755-b155-fb4837d2a147",
      "name": "00a_Prepare_TextForEmbedding"
    }
  ],
  "pinData": {},
  "connections": {
    "00_Webhook_ManualQA": {
      "main": [
        [
          {
            "node": "00a_Prepare_TextForEmbedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01_OpenAI_Embedding_Query": {
      "main": [
        [
          {
            "node": "03_Pinecone_Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02_Format_Text_For_Embedding": {
      "main": [
        [
          {
            "node": "01_OpenAI_Embedding_Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03_Pinecone_Query": {
      "main": [
        [
          {
            "node": "04_OpenAI_Answer_Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04_OpenAI_Answer_Generator": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "00a_Prepare_TextForEmbedding": {
      "main": [
        [
          {
            "node": "02_Format_Text_For_Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a54129c1-014d-47b4-8f57-6b3f3f56c61c",
  "meta": {
    "instanceId": "806c911d7dc71e902947ff71885a6f9edeccc98ca756aec6f50b2432bc9b35b1"
  },
  "id": "27ChNANhiSSuyYwz",
  "tags": []
}